.nav-bar_content {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

.nav-bar_content .btns {
  display: flex;
  padding: 6px;
  border-radius: 10px;
}
.nav-bar_content .btns button {
  border-radius: 7px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: blue;
}
.nav-bar_content .btns button#selected {
    color: blue;
    background-color: white;
  }

  .nav-bar_content .profile-icon{

  }
  .nav-bar_content .profile-icon .btn{
    padding: 3px;
    border: none;
    background-color: blue;
  }
  .nav-bar_content .profile-icon .dropdown-toggle::after{
   display: none;
  }
